{% load staticfiles %}
<html>

    <head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
	{% if posts %}
	There are {{ posts|length }} records:
	{% else %}
	There are no records.
	{% endif %}
	<p>{{post.yazi}}</p>
            <h1><a href="/">Erkan Ercan Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>yayınlanma tarihi: {{ post.yayinlanma_tarihi }}</p>
                <h1><a href="">{{ post.baslik }}</a></h1>
                <p>{{ post.yazi|linebreaks }}</p>
            </div>
        {% endfor %}
    </body>
</html>
